@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .placing {
    @apply mx-auto px-6 lg:px-12 my-24 md:my-30;
  }
}

* {
  font-family: "poppins", sans-serif;
}

body {
  /* background: #ececec; */
  background: #ffffff;
}

.poppins {
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

select,
option,
p,
s,
label,
span {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

tr {
  font-size: 12.5px;
}

td {
  font-size: 11.7px;
}

/* ::-webkit-scrollbar {
  width: 10px;
  background: #d4d4d4;
}

::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border-radius: 10px;
} */

/* Tailwind styles */
.loader {
  width: 90px;
  padding: 5.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #04bb6e;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

.small-loader {
  width: 20px;
  padding: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #04bb6e;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 9999px;
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}
