@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  color: ;
} */

body {
  background: #ececec;
}

/* .gradient-bg-welcome {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
} */

.gradient-bg-welcome {
  background-color: #3c3c3c;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    /* radial-gradient(at 50% 0%, #5f5f5f 0, transparent 50%), */
      radial-gradient(at 50% 0%, #da5b14 0, transparent 50%),
    radial-gradient(at 100% 0%, #04bb6e, transparent 50%);
}

/* .gradient-bg-footer {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
} */

.gradient-bg-footer {
  background-color: #3c3c3c;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 100%, #3c3c3c 0, transparent 50%),
    radial-gradient(at 50% 0%, #da5b14 0, transparent 50%),
    radial-gradient(at 100% 0%, #04bb6e, transparent 50%);
}

/* .text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%),
    radial-gradient(at 50% 0%, #da5b14 0, transparent 50%),
    radial-gradient(at 100% 0%, #04bb6e, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  display: block;
  width: 10px;
}

.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.poppins {
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p,
label {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}

/* ::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
} */
